{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block head %}Agregar Alimento{% endblock %}
{% block loginfo %}{{parent()}}{% endblock %}
{% block content %}
<div class="agregar">
    <form action="" method="get" id="addPedido"  >
        <div class="form">
        <input type="hidden" name="action" id="action" size="20" value="addPedido"/>
            
            <div class="form-label"><label for="entidad_receptora">Entidad Receptora</label></div>
            <div class="form-input">
            <select name="entidad" id="entidad">
            {% for item in entidades_receptoras %}
              <option name="entidad" id="entidad" value="{{ item.id }}">{{ item.razon_social }}</option>
            {% endfor %}
            </select>
            </div>
            
            <div class="form-label"><label for="descripcion">Hora de entrega</label></div>
            <div class="form-input">
              <input type="time" name="hora" id="hora" required />
            </div>
            <div class="clearer"><!-- --></div>

            <div class="form-label"><label for="descripcion">Fecha de entrega</label></div>
            <div class="form-input">
              <input type="date" name="dia" id="dia" required />
            </div>
            <div class="clearer"><!-- --></div>

            <div class="form-label"><label for="descripcion">Envio?</label></div>
            <div class="form-input">
            <select id="envio" name="envio">
              <option id="envio" name="envio" value='0'>Sí</option>
              <option id="envio" name="envio" value='1'>No</option>
            </select>
            </div>
            <div class="clearer"><!-- --></div>


            <div class="form-label"><label for="detalle_alimento">Entidad Receptora</label></div>
            <div class="form-input">

            {% for item in alimentos %}
                {% if not (item.actual == 0 and item.disponible == 0) %}
                 <input type="text" name="{{item.detalle_alimento_id}}" id="{{item.detalle_alimento_id}}" size="30" value="{{ item.actual }}" required />
                 {{ item.descripcion }} de {{ item.contenido }}. ({{ item.disponible }} máximo)
                 <br>
                 {% endif %}
            {% endfor %}

            </div>
            <input type="submit" id="addbtn" value="Agregar" />


          </div>
       </form>
</div>

{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}

{#$id_entidad_receptora,$alimentos,$fecha,$hora,$envio#}