{% extends "base.html.twig" %}
{% block title %}ABM Donantes{% endblock %}
{% block head %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>

Array.prototype.inArray = function(element) { 
    for(var i=0; i < this.length; i++) { 
        if(element.location.B == this[i].location.B) return true; 
    }
    return false; 
}; 

// adds an element to the array if it does not already exist using a comparer 
// function
Array.prototype.pushIfNotExist = function(element) { 
    if (!this.inArray(element)) {
        this.push(element);
    }
}; 


var waypts = [];
var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;
var Centro;

function initialize() {
  directionsDisplay = new google.maps.DirectionsRenderer();
  Centro=new google.maps.LatLng(-34.9211, -57.9544);
  var mapProp = {
    center:Centro, zoom:13,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
  directionsDisplay.setMap(map);

  var CentroMarker=new google.maps.Marker({
    position:Centro,
  });
  CentroMarker.setMap(map);

  {% for item in pedido %} 
    var {{item.getEntidadReceptora.razon_social}}Center=new google.maps.LatLng({{item.getEntidadReceptora.getLatitud}}, {{item.getEntidadReceptora.getLongitud}});
    var {{item.getEntidadReceptora.razon_social}}marker=new google.maps.Marker({
      position:{{item.getEntidadReceptora.razon_social}}Center,
      });
    {{item.getEntidadReceptora.razon_social}}marker.setMap(map);
    if (waypts.filter(function(e) { return e.location == {{item.getEntidadReceptora.razon_social}}Center; }).length == 0) {
      waypts.pushIfNotExist({
      location:{{item.getEntidadReceptora.razon_social}}Center,
      stopover:true
    }); 
  {% endfor %}

  {% for item in directas %}
    var {{item.getEntidadReceptora.razon_social}}Center=new google.maps.LatLng({{item.getEntidadReceptora.getLatitud}}, {{item.getEntidadReceptora.getLongitud}});
    var {{item.getEntidadReceptora.razon_social}}marker=new google.maps.Marker({
      position:{{item.getEntidadReceptora.razon_social}}Center,
    });
    {{item.getEntidadReceptora.razon_social}}marker.setMap(map);
    
    if (waypts.filter(function(e) { return e.location == {{item.getEntidadReceptora.razon_social}}Center; }).length == 0) {
      waypts.pushIfNotExist({
      location:{{item.getEntidadReceptora.razon_social}}Center,
      stopover:true
    });
}
   
  {% endfor %}
} {# fin initialize, anda bien hasta acá #}

function calcRoute() {
  var request =
  {
    origin: Centro,
    destination: Centro,
    travelMode: google.maps.TravelMode.DRIVING,
    unitSystem: google.maps.UnitSystem.METRIC,
    waypoints: waypts,
    optimizeWaypoints: true
  };

  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
          var route = response.routes[0];
      var summaryPanel = document.getElementById('directions_panel');
      summaryPanel.innerHTML = '';
      // For each route, display summary information.
      for (var i = 0; i < route.legs.length; i++) {
        var routeSegment = i + 1;
        summaryPanel.innerHTML += '<b>Segmento de ruta: ' + routeSegment + '</b><br>';
        summaryPanel.innerHTML += route.legs[i].start_address + ' hasta ';
        summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
        summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
      }

  });
} {# fin calc route #}

google.maps.event.addDomListener(window, 'load', initialize);

window.onload = function() {
  calcRoute();
};

</script>

{% endblock %}
{% block loginfo %}{{parent()}}{% endblock %}
{% block content %}
<div id="googleMap" style="width:500px; height:380px;"></div>
<div id="directions_panel" style="margin:20px;background-color:#FFEE77;"></div>

{% if pedido|length > 0 %}
<table class="tables">

  <tr>
    <th>Número</th>
    <th>Entidad Receptora</th> 
    <th>Fecha de Ingreso</th>
    <th>Estado de Pedido</th> 
    <th>Dia y hora</th> 
    <th>Envío</th>
    <th>Acciones</th>
  </tr>
  {% for item in pedido %}
    <tr>
      <td>{{ item.numero }}</td>
      <td>{{ item.getEntidadReceptora.razon_social }}</td>
      <td>{{ item.fecha_ingreso }}</td>
      <td>{{ item.getEstado }}</td>
      <td>{{ item.getTurnoEntrega.fecha }} {{ item.getTurnoEntrega.hora }}</td>
      <td>{{ item.getEnvio }}</td>
    </tr>
  {% endfor %}
</table>

{% else %}
 <p class='importante'> No hay pedido para este día </p>
{% endif %}

{% if directas|length > 0 %}
<table class="tables">
  <tr>
    <th>Entidad Receptora</th> 
    <th>Fecha de Ingreso</th>
  </tr>
  {% for item in directas %}
    <tr>
      <td>{{ item.getEntidadReceptora.razon_social }}</td>
      <td>{{ item.fecha}}</td>
    </tr>
  {% endfor %}


{% else %}
 <p class='importante'> No hay envios directos para este día </p>
{% endif %}



{% endblock %}

{% block footer %}{{ parent() }}{% endblock %}
