<table class="tables">

  <td>
    <a href="?action=attemptAddPedido"><img src="resources/add.png" width="16" height="16" alt="add"> Agregar Pedido</a>
  </td>
  <tr>
    <th>Número</th>
    <th>Entidad Receptora</th> 
    <th>Fecha de Ingreso</th>
    <th>Estado de Pedido</th> 
    <th>Dia y hora</th> 
    <th>Envío</th>
    <th>Acciones</th>
  </tr>
  {% for item in pedidos %}
    <tr>
      <td>{{ item.numero }}</td>
      <td>{{ item.getEntidadReceptora.razon_social }}</td>
      <td>{{ item.fecha_ingreso }}</td>
      <td>{{ item.getEstado }}</td>
      <td>{{ item.getTurnoEntrega.fecha }} {{ item.getTurnoEntrega.hora }}</td>
      <td>{{ item.getEnvio }}</td>
      <td><div class="image">
        <a href="?action=attemptEditPedido&numero={{ item.numero }}&entidad_receptora_id={{ item.entidad_receptora_id }}&fecha_ingreso={{ item.fecha_ingreso }}&estado_pedido_id={{ item.estado_pedido_id }}&turno_entrega_id={{ item.turno_entrega_id }}&con_envio={{ item.con_envio }}"><img src="resources/edit.png" width="16" height="16" alt="Edit" > </a>
        <a href="?action=delPedido&numero={{item.numero}}"><img src="resources/delete.png" width="16" height="16" alt="delete"> </a>
      </div></td>
    </tr>
  {% endfor %}