

<table class="tables">
<p class = "importante"> A entregar hoy </p> 
  <tr>
    <th>estado</th>
    <th>numero de pedido</th> 
    <th>entidad receptora</th> 
    <th>hora</th>
    <th>ver o modificar</th>
  </tr>
  {% for item in turnos_entrega_hoy %}
    <tr>
      <td>{{ item.atrasado }}</td>
      <td>{{ item.numero }}</td>
      <td>{{ item.razon_social }}</td>
      <td>{{ item.hora }}</td>
      <td><div class="image"><a href="?action=attemptEditPedido&numero={{ item.numero }}">
        <img src="resources/lupa.png" width="16" height="16" alt="ver o modificar"></a>
      </div></td>
    </tr>
  {% endfor %}