

<table class="tables">
    <tr>
    <td>
    <a href="?action=attemptAddEntidadReceptora"><img src="resources/add.png" width="16" height="16" alt="add"> Agregar Entidad Receptora</a>
    </td>
    </tr>
    <tr>
        <th>Razon social</th> 
        <th>Teléfono</th>
        <th>Domicilio</th>
        <th>Estado Entidad</th>
        <th>Necesidad de la Entidad</th>
        <th>Servicios Prestados</th>
        <th>Acciones</th>
    </tr>
    {% for item in entidades_receptoras %}
        <tr>
        <td> {{ item.razon_social }} </td>
        <td> {{ item.telefono }} </td>
        <td> {{ item.domicilio }} </td>
        <td> {{ item.estado_entidad }} </td>
        <td> {{ item.necesidad_entidad }} </td>
        <td> {{ item.servicio_prestado }} </td>
        <td> <div class="image">
            <a href="?action=attemptEditEntidadReceptora&id={{ item.id }}"><img src="resources/edit.png" width="16" height="16" alt="Edit"> </a>
            <a onclick="myFunction( '?action=delEntidadReceptora&id={{item.id}}')"><img src="resources/delete.png" width="16" height="16" alt="delete"> </a>
        </div></td>
        </tr>
    {% endfor %}


<script>
function myFunction(x) {
    var txt;
    var r = confirm("Está seguro que desea eliminar el elemento?");
    if (r == true) {
        window.location = x;
    } else {
    }

}
</script>