


<table class="tables">
<td>
<a href="?action=attemptAddDetalleAlimento"><img src="resources/add.png" width="16" height="16" alt="add"> </a>
</td>  
  <tr>
    <th>Alimento</th> 
    <th>Fecha de vencimiento</th>
    <th>Contenido</th>
    <th>Peso por unidad</th>
    <th>Stock</th> 
    <th>Reservado</th>
    <th>Acciones</th>
  </tr>

        
        {% for item in detalles_alimentos %}
        <tr>
            <td>{{item.alimento_codigo }}</td>
            <td>{{item.fecha_vencimiento }}</td>
            <td>{{item.contenido }} </td>
            <td>{{item.peso_unitario }}</td>
            <td>{{item.stock }} </td>
            <td>{{item.reservado }}</td>
            <td><div class="image">
                <a href="?action=attemptEditDetalleAlimento&id={{ item.id }}&alimento_codigo={{ item.alimento_codigo }}&fecha_vencimiento={{ item.fecha_vencimiento }}&contenido={{ item.contenido }}&peso_unitario={{ item.peso_unitario }}&stock={{ item.stock }}&reservado={{ item.reservado }}"><img src="resources/edit.png" width="16" height="16" alt="Edit" > </a>

                <a onclick="myFunction('?action=delDetalleAlimento&id={{item.id}}')"><img src="resources/delete.png" width="16" height="16" alt="delete"> </a>
            </div></td>
        </tr>
        {% endfor %}


<script>
function myFunction(x) {
    var txt;
    var r = confirm("Está seguro que desea eliminar el elemento?");
    if (r == true) {
        window.location = x;
    } else {
    }

}
</script>